[Interface]
Address = {{ parser_wireguard_address }}
ListenPort = {{ parser_wireguard_listen_port }}
PrivateKey = {{ parser_wireguard_private_key_file.content | b64decode | trim }}

[Peer]
PublicKey = {{ parser_wireguard_peer_public_key }}
Endpoint = {{ parser_wireguard_peer_endpoint }}
AllowedIPs = {{ parser_wireguard_peer_address }}
PersistentKeepalive = 25
